<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar</title>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    body{
        background-color: cornsilk;
    }.container{
        margin: 30px;
        align-self: center;
    }.form-group{
        max-width: 300px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 10px 40px 50px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
    }
    </style> 
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <H1 style="text-align: center; color:#ffffff;">Formulario</H1>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        </form>
      </nav>
      
      <div class="container align-self-center">
      <div id="carrousel" class="row align-items-center" >
        <div class="col-2 ">
          <button id="prevImage" v-on:click="prevImage"  class="d-inline btn-sm  btn btn-dark ">Retroceder</button>
        </div>
        <div class="col-8">
          <img src="WebDev/img/1.jpg"  id="imagen" class="rounded-pill mx-auto d-block"  alt="Responsive image">
        </div>
        <div class="col-auto ">
          <button id="nextImage" v-on:click="nextImage"    class="d-inline btn-sm align-items-left btn btn-dark" >Avanzar</button>
      </div>
      </div> 
  </div>

      <div class="container">
        <div class="text-center">
        <button type="button" class="align-self-center btn btn-primary " data-toggle="modal" data-target="#myModal">
         Regi
        </button>
    </div>
      
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog ">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <H1 style="text-align: center;">Formulario</H1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <div class="container">
                    <form id="addNew" style="align-items: center;"  class="form-group">
                        
                        
                        Nombre 
                        <input type="text" v-model="userData.name" class="form-control"  placeholder="Ingresa tu  nombre"><br>
                
                        Apellido<br>
                        <input type="text" v-model="userData.lastname" class="form-control" placeholder="Ingresa tu apellido" ><br>
                    
                        Edad<br>
                        <input type="number" v-model="userData.age" class="form-control" placeholder="Ingresa tu edad"><br>
                    
                        Email<br>
                        <input type="email" v-model="userData.email" class="form-control" placeholder="ingresa tu correo" required><br>
                    
                        País<br>
                        <input type="text" v-model = "userData.country" class="form-control" placeholder="Ingresa tu país" ><br>
                        Fecha<br>
                        <input type="date" v-model = "userData.date" class="form-control" placeholder="Fecha de cumpleaños" ><br>
                   
                        <input type="button" value="Guardar" id="save" v-on:click="reviewData" class="btn btn-success" > 
                   
                      </form>
                    </div>
              </div>
              
              <!-- Modal footer -->
              
              
            </div>
          </div>
        </div>
        
      </div>
      
  
  
     <div class="container">
    <table id="myTable" class="table table-striped ">
    <thead class="thead-dark">
        <th v-for='title in titles'> {{ title }} </th>
        <th id="remove">Eliminar</th>
    </thead>
    <tbody id="tableBody" >
         <tr v-for="row in storageData; index as i"> 
            <td v-for="cell in row" v-html="cell"> {{ cell }}</td>
            <td><button class="btn btn-outline-danger" v-on:click="deleteData(i)">XD</button></td>
        </tr>
    </tbody>
    </table> </div>

    
      
    <script src="./js/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>
